<%= form_for team, html: { multipart: true } do |f| %>
  <%= f.label :name, class: 'label' %>
  <p class="control">
    <%= f.text_field :name, class: 'input', type: 'text' %>
  </p>

  <%= f.label :avatar, class: 'label' %>
  <p class="control">
    <%= f.attachment_field :avatar, direct: true %>
    <progress class="progress is-info is-hidden" value="0" max="100"></progress>
  </p>

  <%= f.label :description, class: 'label' %>
  <p class="control">
    <%= f.text_area :description, class: 'textarea', type: 'text' %>
  </p>

  <%= f.label :user_ids, class: 'label' %>
  <p class="control">
    <%= f.collection_select(:user_ids, @users, :id, :name, { }, { multiple: true, class: 'input chosen' }) %>
  </p>

  <p class="control">
    <%= f.submit class: 'button is-success' %>
  </p>
  </div>
<% end %>
