<section class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <h1 class="title">
            Bem Vindo!
          </h1>
          <div class="box has-text-dark">
            <div class="block">
              Registrar usando:
            </div>
            <div class="block has-text-centered">
              <div class="columns">
                <div class="column">
                  <a class="button facebook-button is-medium is-fullwidth">
                    <span class="icon is-medium"><i class="fa fa-facebook"></i></span>
                  </a>
                </div>
                <div class="column">
                  <a class="button linkedin-button is-medium is-fullwidth">
                    <span class="icon is-medium"><i class="fa fa-linkedin"></i></span>
                  </a>
                </div>
                <div class="column">
                  <a class="button google-button is-medium is-fullwidth">
                    <span class="icon is-medium"><i class="fa fa-google-plus"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <hr>
            <div class="block">
              Registrar com e-mail:
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <p class="control has-icon">
                <%= f.email_field :email, autofocus: true, class: 'input', placeholder: 'e-mail' %>
                <i class="fa fa-envelope"></i>
              </p>
              <p class="control has-icon">
                <%= f.password_field :password, autocomplete: 'off', class: 'input', placeholder: 'senha' %>
                <i class="fa fa-lock"></i>
              </p>
              <hr>
              <p class="control">
                <%= f.submit 'Registrar', class: 'button is-success' %>
                <%= link_to 'Cancelar', cancel_user_registration_path, class: 'button is-default' %>
              </p>
            <% end %>
          </div>
          <p class="has-text-centered">
            <%= render "devise/shared/links" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
