<%= nested_form_for(competition) do |f| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: 'label' %>
  <p class="control">
    <%= f.text_field :name, class: 'input', type: 'text' %>
  </p>

  <%= f.label :max_team_size, class: 'label' %>
  <p class="control">
    <%= f.number_field :max_team_size, class: 'input', type: 'text' %>
  </p>

  <hr>

  <h2 class="title">Instruções</h2>

  <%= f.fields_for :instructions do |iff| %>
    <%= iff.label :name, class: 'label' %>
    <p class="control">
      <%= iff.text_field :name, class: 'input', type: 'text' %>
    </p>
    <div class="columns">
      <div class="column">
        <%= iff.label :markdown, class: 'label' %>
        <%= iff.text_area :markdown, class: 'textarea markdown-input', type: 'text', height: 360 %>
      </div>
      <div class="column">
        <label class="label">Pré-visualização</label>
        <div class="content markdown-preview">

        </div>
      </div>
    </div>
    <p class="control">
      <%= iff.link_to_remove "Remover", class: 'button is-danger' %>
    </p>
  <% end %>
  <p class="control"><%= f.link_to_add "Adicionar Instrução", :instructions, class: 'button is-info' %></p>

  <hr>

  <p class="control">
    <%= f.submit class: 'button is-success' %>
  </p>
  </div>
<% end %>
