<section class="hero is-fullheight is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <h1 class="title">
            Mudar a senha
          </h1>
          <div class="box has-text-dark">
            <div class="block">
              Senha nova:
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.hidden_field :reset_password_token %>
              <%= f.label :password, class: 'is-hidden' %>
              <p class="control has-icon">
                <%= f.password_field :password, autofocus: true, class: 'input', placeholder: 'senha', autocomplete: 'off' %>
                <i class="fa fa-lock"></i>
              </p>
              <hr>
              <p class="control has-text-right">
                <%= f.submit 'Mudar de senha', class: 'button is-success is-fullwidth' %>
              </p>
            <% end %>
          </div>
          <p class="has-text-centered has-text-light">
            <%= link_to "Entrar", new_session_path(resource_name) %><br />
            <%= link_to "Cadastrar", new_registration_path(resource_name) %><br />
            <%= link_to "Voltar para home", root_path %><br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
