<!DOCTYPE html>
<html>
  <head>
    <title>Datoca</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <%= link_to 'DATOCA', root_path, class: 'nav-item' %>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-center nav-menu">
              <%= link_to competitions_path, class: 'nav-item' do %>
                <i class="fa fa-trophy"></i>
                &nbsp;
                Competições
              <% end %>
              <a class="nav-item">
                <i class="fa fa-list-alt"></i>
                &nbsp;
                Placar
              </a>
            </div>
            <div class="nav-right nav-menu">
              <% if current_user %>
                <div class="nav-item">
                  <%= link_to 'Perfil', user_path(current_user), class: 'button is-info is-outlined' %>
                </div>
                <div class="nav-item">
                  <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined' %>
                </div>
              <% else %>
                <div class="nav-item">
                  <%= link_to 'Cadastrar', new_user_registration_path, class: 'button is-success is-outlined' %>
                </div>
                <div class="nav-item">
                  <%= link_to 'Entrar', new_user_session_path, class: 'button is-info is-outlined' %>
                </div>
              <% end %>
            </div>
          </div>
        </header>
      </div>
    </section>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Leite de capivaris, leite de mula manquis. Manduma pindureta quium dia nois paga. undefined
          </p>
        </div>
      </div>
    </footer>
    <% if has_flash? %>
      <div class="notifications"><%= flash_msgs %></div>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
